body,
html {
    margin: 0;
    height: 100%;

}

h1 {
    font-size: 70px;
    font-weight: bold;
}

.top-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/donation1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: relative;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.amount {
    display: flex;
    justify-content: center;
    color: gray;
}

.amount h2 {
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 5px;
    margin-left: 20px;
}

#selected-amount {
    background-color: antiquewhite;
    border: 2px solid orange;
    color: orange;
    border-radius: 5px;
    padding: 30px;
}

.input-field {
    text-align: center;

}

#input-field {
    margin-top: 50px;
    margin-bottom: 30px;

}

.donate-today {
    text-align: center;
}

.food-card {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.family-food {
    background-color: rgb(160, 226, 226);
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.family-shelter {
    background-color: bisque;
    padding: 20px;
    border-radius: 5px;
}

.family-education {
    background-color: rgb(67, 99, 99);
    padding: 20px;
    border-radius: 5px;
    margin-left: 10px;

}

.donation {
    margin-top: 100px;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.half-width {
    width: 40%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}